*{
    margin: 0;
    font-family: Arial;
    border: border-box;
	position: relative;
}

body{
	background-color: #353c4e;
}

a{
	text-decoration: none;
	color: white;
	background-color: transparent;
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
	border: 2px solid transparent;
}

.border:hover{
   border: 2px solid white;
}

/*Logo in*/
.nav-logo{
    height: 50px;
    width: 100px;
	right: 170px;
}

.logo{
    background-image: url("photo/webLogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}


/*Log in*/
.nav-login{
	left: 120px;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
	list-style: none;
}

span{
    font-size: 0.7rem;
}

/*Contact*/

.nav-contact{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	left: 120px;

}

/*Shop*/
.nav-shop{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	left: 120px;
}

/*language*/
.nav-language{
	font-weight: 700;
	left: 120px;
}

.nav-language img{
	height: 17px;
	width: 17px;
}

