*{
    margin: 0;
    font-family: Arial;
    border: border-box;
	position: relative;
}

body{
	background-color: #353c4e;
}

a{
	text-decoration: none;
	color: white;
	background-color: transparent;
}

                                                            /*nav Bar*/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
	border: 2px solid transparent;
}

.border:hover{
   border: 2px solid white;
}

                                                            /*Logo in*/
.nav-logo{
    height: 50px;
    width: 100px;
	right: 170px;
}

.logo{
    background-image: url("photo/webLogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}



                                                            /*Log in*/
.nav-login{
	left: 120px;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
	list-style: none;
}

span{
    font-size: 0.7rem;
}

                                                            /*Contact*/

.nav-contact{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	left: 120px;

}

                                                            /*Shop*/
.nav-shop{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	left: 120px;
}

                                                            /*language*/
.nav-language{
	font-weight: 700;
	left: 120px;
}

.nav-language img{
	height: 17px;
	width: 17px;
}

                                                                /*Hero Section*/
.hero-section{
	background-image: url(photo/hero.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
	max-width: 100%;
}

.hero-msg{
	background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 50%;
    margin-bottom: 25px;
    font-weight: 700;
}
.hero-msg a {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

                                                                /*Shop Section*/

.shop-msg{
    margin-top: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;


}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.box{
    height: 500px;
    width: 23%;
    margin-top: 0.5rem;
    background-color: #0f1111;
    color: white;
}
.box-img{
    height: 400px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


                                                            /*Sale-banner*/


.sale-banner {
    position: relative;
    width: 100%;
    margin-top: 2.5px;
    background-image: url("photo/sale.png");
    background-size: cover;
    height: 300px;
    width: 100%;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #353c4e;
  }
  
  .sale-banner:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .sale-section-msg{
	background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    width: 100%;
    margin-top: 260px;
    font-weight: 900;
    font-family: serif;
}
.last-logo{
    margin-top: 20px;
    border-top: 3px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("photo/webLogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}

.last-section{
    color: white;

    justify-content: center;
    align-items: center;
    display: flex;
}

.copyright{
font-size: 0.7rem;
}