*{
    margin: 0;
    font-family: Arial;
    border: border-box;
	position: relative;
}

body{
	background-color: #353c4e;
}

a{
	text-decoration: none;
	color: white;
	background-color: transparent;
}

														/*Nav Bar*/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border{
	border: 2px solid transparent;
}

.border:hover{
   border: 2px solid white;
}

/*Logo */
.nav-logo{
    height: 50px;
    width: 100px;
	right: 170px;
}

.logo{
    background-image: url("/photo/webLogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.nav-logo img{
    height: 75px;
    width: 100px;
}

/*Log in*/
.nav-login{
	left: 120px;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
	list-style: none;
}

span{
    font-size: 0.7rem;
}

/*Contact*/

.nav-contact{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	left: 120px;

}

/*Shop*/
.nav-shop{
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	left: 120px;
}

/*language*/
.nav-language{
	font-weight: 700;
	left: 120px;
}

.nav-language img{
	height: 17px;
	width: 17px;
}



												/*main box*/ 
.box{
	width:900px ;
	height: 580px;
	display: flex;
	background-color:black ;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
												/*left box with image*/
}
.box .left{
	text-align: center;
	width: 35%;
	background-color:black;
	color: white;
}
.box .left img{
  border-radius: 25px;
  margin-bottom: 10px;
  width: 70%;
  margin-top: 30%;
  margin-bottom:30px;
}
.box .left h4{
	font-size: 22px;
	margin-bottom: 12px;

}
.box .left p{
	font-size: 12px;
}
											/*right box with all the info*/
.box .right{

	width: 65%;
	padding: 30px 25px;
	background-color: #5a6581;
	color: #f3f3f3;
}
.box .right .info_data{
	display: flex;
	justify-content: space-between;
}
.box .right .info h3{
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1.5px solid #e0e0e0;
	color: black;
	letter-spacing: 5px;
}
.box .right .info p,
.box .right .info_data .data ul li{
	font-size: 14px;
	color: #353c4e;
	margin-bottom: 10px;
	margin-top: 10px;
}
.box .right .info_data a img{
  width:50px;
}


.last-logo{
    margin-top: 20px;
    border-top: 3px solid black;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("/photo/webLogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}

.last-section{
    color: white;

    justify-content: center;
    align-items: center;
    display: flex;
}

.copyright{
font-size: 0.7rem;
}