body{

	background: #353c4e;
}
.topbox{
	width: 800px;
	margin: 0 auto;
	background-color: black;
	color: white;
	padding: 25px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-top: 10px solid red;
}
.box{
	width: 800px;
	margin: 0 auto;
	background-color: black;
	color: white;
	padding: 25px;
	
}